@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

:root {
    --showPlay: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.left {
    width: max(345px, 25vw);
    margin: 16px 0px;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.logo>.spotify {
    width: 100px;
}

.close {
    width: 32px;
    display: none;
}

body {
    background-color: black;
    color: white;
}

.home {
    margin: 0px 5px;
}

.home a{
    text-decoration: none;
    color: white;
}
.home ul li {
    display: flex;
    list-style: none;
    gap: 15px;
    width: 14px;
    padding-top: 14px;
    font-weight: bold;
}

.library {
    min-height: 80vh;
    position: relative;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 23px 14px;
    font-weight: bold;

    align-items: center;
    font-size: 13px;
}

.heading h2 {
    font-size: 16px;

}

.heading img {
    width: 25px;
}

.songList {
    padding: 0px 20px;
    height: 57vh;
    overflow: auto;
}

.songList ul {
    list-style-type: none;
}

.songList ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    margin: 13px 0px;
    padding: 10px;

    border: 1px solid white;
    border-radius: 7px;
    cursor: pointer;


}

.songList ul li:hover {
    transform: scale(1.01);
}

.songList ul li img {
    width: 18px;
}


.songList ul li .songInfo {
    width: 344px;
    font-size: 12px;


}

.artist {
    font-size: 11px;
}

.playNow {
    display: flex;
    align-items: center;
    gap: 5px;
}

.playNow span {
    font-size: 11px;
    width: 50px;

}

.footer {
    display: flex;
    width: 95%;
    gap: 8px 20px;
    font-size: 10px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: #b3b3b3;
    text-decoration: none;
}

/* right side */
.right {
    width: 75vw;
    height: 97vh;
    margin: 16px 0px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #212121;
    /* height: 10vh; */
}

.header>* {
    padding: 20px;
}

.hamburger {
    display: none;
}

.spotifyPlaylists {
    height: 80vh;
}

.spotifyPlaylists h1 {
    margin-top: 20px;
    margin-left: 20px;
}

.cardContainer {
    height: 60vh;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
}

.card {
    width: 177px;
    height: 290px;
    /* border: 1px solid white; */
    padding: 8px;
    background-color: #2a2a2a;
    border-radius: 10px;
    transition: transform 0.1s;
    position: relative;
}

.card:hover {
    transform: scale(1.01);
    background-color: #373737;
    --showPlay: 1;

}

.card .playButton {
    width: 37px;
    position: absolute;
    bottom: 120px;
    right: 17px;
    opacity: var(--showPlay);
    transition: all 0.1s ease-in;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card p {
    font-size: 13px;
}

.card>* {
    margin-top: 10px;
}

.btn {
    border: none;
    font-size: 13px;
    padding: 9px 20px;
    border-radius: 40px;
    font-weight: bold;
    cursor: pointer;
}


.signUpBtn {
    background-color: #212121;
    color: rgb(214, 214, 214);
}

.logInBtn {
    background-color: white;
    color: black;
}

.signUpBtn:hover {
    color: white;
    font-size: 13px
}

.logInBtn:hover {
    background-color: rgb(232, 232, 232);
    font-size: 13px
}

.playbar {
    position: fixed;
    bottom: 23px;
    background-color: rgb(20 11 56);
    width: 74vw;
    border-radius: 5px;
    height: 55px;
    z-index: 1;

}

.songDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(215, 215, 215);
    margin-top: 7px;
    padding: 3px;
}

/* .songName {
    /* width: 400px; 
} */

.songButtons {

    display: flex;
    justify-content: center;
    gap: 16px;
    position: absolute;
    left: 45%;
}

.songButtons img {
    width: 20px;
    cursor: pointer;
}

.timeVol {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.timevol img {
    width: 17px;
}

.volumeSec {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.volumeSec img {
    cursor: pointer;
}

.volumeSec .range {
    height: 4px;
    width: 80px;
    accent-color: rgb(131, 117, 152);
    cursor: pointer;

}

.seekbar {
    width: 98%;
    height: 4px;
    background-color: rgb(191, 191, 191);

    margin: 6px;

    position: absolute;
    bottom: 0;
    cursor: pointer;
    z-index: 5;
}

.seekbar .circle {
    background-color: rgb(255, 255, 255);
    width: 13px;
    height: 13px;
    border-radius: 13px;
    position: relative;
    bottom: 5px;
    left: 0%;

    transition: left 0.2s;
    z-index: 5;
}

/* making page responsive */

/* tabs + mobile */
@media (max-width: 1281px) {

    .left {
        position: absolute;
        left: -120%;
        z-index: 10;
        transition: all 0.5s;
        height: 100vh;;
    }

    .right {
        width: 100vw;
        margin: 0;

    }
    .header {
    height: 8vh;
}

    .playbar {
        margin-left: 10px;
        width: 95%;
        font-size: 12px;
        height: auto;
        padding-bottom: 10px;
    }

    .songDetails {
        height: auto;
        flex-direction: column;
        align-items: center;
        gap: 5px;

    }

    .songButtons {
        position: inherit;

    }

    .hamburger {
        display: inline;
        cursor: pointer;
    }

    .close {
        display: inline;
    }

    .card {
        width: 40vw;
        height: auto;
        font-size: 150%;
    }

    .card .playButton {

        bottom: 185px;
        right: 17px;
    }

    .card:hover {
        --showPlay: 1;
    }

    .card p {
        font-size: 110%;

    }


    .cardContainer {
        margin: 0;
        padding: 0;
        padding-top: 10px;
        justify-content: center;
        height: 70vh;


    }

    .timeVol {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

/* specific to mobiles */
@media (max-width: 600px) {
    .cardContainer {
        height: 65vh;
    }

    .card {
        width: 80vw;

        height: auto;
        font-size: 100%;
    }

    .card .playButton {

        bottom: 105px;
        right: 17px;
    }

    
}